<% const path = "../../../"; %>
<%- include("../../_include/_header", {
    "title": "tutorial.puzzle.chapter1.title",
    "description": "tutorial.puzzle.chapter1.description",
    "path": path
}); %>

<main id="main">
</main><!-- End #main -->

<%- include("../../_include/_footer", { "path": path }); %>