<% const title = "Next2D Tutorial | Number Puzzle 02"; %>
<% const path = "../../../"; %>
<%- include("../../_include/_header", {
    "title": title,
    "path": path
}); %>

<main id="main">
</main><!-- End #main -->

<%- include("../../_include/_footer", { "path": path }); %>