<% const path = "../../../"; %>
<%- include("../../_include/_header", {
    "title": "tool-usage.timeline.javascript.title",
    "description": "tool-usage.timeline.javascript.description",
    "path": path,
}); %>

<%- include("../_base-header", {
    "subTitle": "tool-menu.timeline.javascript",
    "path": path
}); %>

<div class="col-md-12 col-lg-9">
    <div>
      <h3>${{ tool-menu.timeline.javascript }}$</h3>
      <p><iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/1QDAauMOnC0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
      <p>${{ tool-usage.timeline.javascript.description }}$</p>
      <p>${{ tool-usage.timeline.javascript.text1 }}$</p>
      <p>${{ tool-usage.timeline.javascript.text2 }}$</p>
      <p><iframe width="560" height="315" src="https://www.youtube.com/embed/oeds0zwxlNw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
      <p><iframe width="560" height="315" src="https://www.youtube.com/embed/y4hx35pMtm8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
    </div>
</div>

<%- include("../_base-footer", {
    "path": path
}); %>