<% const title = "Next2D Player | Tutorial & Pocket Reference | When mouse/touch is pressed/released in the area"; %>
<% const description = "The MOUSE_DOWN event is a MouseEvent sent out when the mouse button is pressed on a MovieClip, TextField, Sprite, Loader, or Stage object, or when a tap is started, and the MOUSE_UP event is sent out when the mouse button that was pressed on an object is released, or when a tap is ended."; %>
<% const path = "../../"; %>

<%- include("../../_include/_header", {
    "title": title,
    "description": description,
    "path": path,
    "player": "off"
}); %>

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <h2>When mouse/touch is pressed/released in the area.</h2>
                <ol>
                    <li><a href="<%= path %>">Home</a></li>
                    <li><a href="<%= path %>tutorials">Tutorials</a></li>
                    <li>Day 26</li>
                </ol>
            </div>
        </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Tutorial List Section ======= -->
    <section id="tutorials" class="padd-section">

      <div class="container" data-aos="fade-up">

        <div class="row" data-aos="fade-up" data-aos-delay="100">

          <div class="col-md-6 offset-md-3">

            <h3>MOUSE_DOWN/MOUSE_UP</h3>
            <p>The MOUSE_DOWN event is a MouseEvent sent out when the mouse button is pressed on a MovieClip, TextField, Sprite, Loader, or Stage object, or when a tap is started, and the MOUSE_UP event is sent out when the mouse button that was pressed on an object is released, or when a tap is ended.</p>

            <h5>Example</h5>
            <p><pre>const {MouseEvent} = next2d.events;

// When a mouse button is pressed in the area, or when a touch start is made.
this.addEventListener(MouseEvent.MOUSE_DOWN, (event) => {}));

// When the mouse button is released in the area, or at the touch end
this.addEventListener(MouseEvent.MOUSE_UP, (event) => {}));</pre></p>

            <p><a class="float-end read-more" href="27.html">next day</a></p>
          </div>
        </div>
      </div>
    </section><!-- End List Section -->

</main><!-- End #main -->

<%- include("../../_include/_footer", { "path": path }); %>