<% const title = "Next2D Player | Tutorial & Pocket Reference | When the mouse/touch pointer moves"; %>
<% const description = "The MOUSE_MOVE event is sent out when the mouse pointer or touch pointer moves on a MovieClip, TextField, Sprite, Loader, or Stage object."; %>
<% const path = "../../"; %>

<%- include("../../_include/_header", {
    "title": title,
    "description": description,
    "path": path,
    "player": "off"
}); %>

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <h2>When the mouse/touch pointer moves.</h2>
                <ol>
                    <li><a href="<%= path %>">Home</a></li>
                    <li><a href="<%= path %>tutorials">Tutorials</a></li>
                    <li>Day 27</li>
                </ol>
            </div>
        </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Tutorial List Section ======= -->
    <section id="tutorials" class="padd-section">

      <div class="container" data-aos="fade-up">

        <div class="row" data-aos="fade-up" data-aos-delay="100">

          <div class="col-md-6 offset-md-3">

            <h3>MOUSE_MOVE</h3>
            <p>The MOUSE_MOVE event is sent out when the mouse pointer or touch pointer moves on a MovieClip, TextField, Sprite, Loader, or Stage object.</p>

            <h5>Example</h5>
            <p><pre>const {MouseEvent} = next2d.events;
this.addEventListener(MouseEvent.MOUSE_MOVE, (event) => {}));</pre></p>

            <p><a class="float-end read-more" href="28.html">next day</a></p>
          </div>
        </div>
      </div>
    </section><!-- End List Section -->

</main><!-- End #main -->

<%- include("../../_include/_footer", { "path": path }); %>