<% const path = "../../../"; %>
<%- include("../../_include/_header", {
    "title": "tool-usage.controller.blend-mode.title",
    "description": "tool-usage.controller.blend-mode.description",
    "path": path,
}); %>

<%- include("../_base-header", {
    "subTitle": "tool-menu.controller.blend-mode",
    "path": path
}); %>

<div class="col-md-12 col-lg-9">
    <div>
      <h3>${{ tool-menu.controller.blend-mode }}$</h3>
      <p><iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/krMptdKTMAs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
      <p>${{ tool-usage.controller.blend-mode.description }}$</p>
      <p>Blend Mode List
        <ul>
          <li>
            <h4>normal</h4>
            <p>${{ tool-usage.controller.blend-mode.normal }}$</p>
          </li>
          <li>
            <h4>layer</h4>
            <p>${{ tool-usage.controller.blend-mode.layer }}$</p>
          </li>
          <li>
            <h4>darken</h4>
            <p>${{ tool-usage.controller.blend-mode.darken }}$</p>
          </li>
          <li>
            <h4>multiply</h4>
            <p>${{ tool-usage.controller.blend-mode.multiply }}$</p>
          </li>
          <li>
            <h4>lighten</h4>
            <p>${{ tool-usage.controller.blend-mode.lighten }}$</p>
          </li>
          <li>
            <h4>screen</h4>
            <p>${{ tool-usage.controller.blend-mode.screen }}$</p>
          </li>
          <li>
            <h4>overlay</h4>
            <p>${{ tool-usage.controller.blend-mode.overlay }}$</p>
          </li>
          <li>
            <h4>hardlight</h4>
            <p>${{ tool-usage.controller.blend-mode.hardlight }}$</p>
          </li>
          <li>
            <h4>add</h4>
            <p>${{ tool-usage.controller.blend-mode.add }}$</p>
          </li>
          <li>
            <h4>subtract</h4>
            <p>${{ tool-usage.controller.blend-mode.subtract }}$</p>
          </li>
          <li>
            <h4>difference</h4>
            <p>${{ tool-usage.controller.blend-mode.difference }}$</p>
          </li>
          <li>
            <h4>invert</h4>
            <p>${{ tool-usage.controller.blend-mode.invert }}$</p>
          </li>
          <li>
            <h4>alpha</h4>
            <p>${{ tool-usage.controller.blend-mode.alpha }}$</p>
          </li>
          <li>
            <h4>erase</h4>
            <p>${{ tool-usage.controller.blend-mode.erase }}$</p>
          </li>
        </ul>
      </p>
    </div>
</div>

<%- include("../_base-footer", {
    "path": path
}); %>