<% const path = "../../../"; %>
<%- include("../../_include/_header", {
    "title": "tool-usage.controller.filters.title",
    "description": "tool-usage.controller.filters.description",
    "path": path,
}); %>

<%- include("../_base-header", {
    "path": path
}); %>

<div class="col-md-12 col-lg-9">
    <div>
      <h3>${{ tool-menu.controller.filters }}$</h3>
      <p>${{ tool-usage.controller.filters.description }}$</p>
      <p>
        <ul>
          <li>
            <h4>DropShadow</h4>
            <p><iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/sj6eljRxbQI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
            <p>${{ tool-usage.controller.filters.DropShadow }}$</p>
          </li>
          <li>
            <h4>Blur</h4>
            <p><iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/V8_iyeio8mQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
            <p>${{ tool-usage.controller.filters.Blur }}$</p>
          </li>
          <li>
            <h4>Glow</h4>
            <p><iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/fAbTAG1I1Aw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
            <p>${{ tool-usage.controller.filters.Glow }}$</p>
            </li>
          <li>
            <h4>Bevel</h4>
            <p><iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/sjJ2fu8B9HE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
            <p>${{ tool-usage.controller.filters.Bevel }}$</p>
          </li>
          <li>
            <h4>GradientGlow</h4>
            <p><iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/GUHZYMwM-l0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
            <p>${{ tool-usage.controller.filters.GradientGlow }}$</p>
          </li>
          <li>
            <h4>GradientBevel</h4>
            <p><iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/SVdEnU6XUMg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
            <p>${{ tool-usage.controller.filters.GradientBevel }}$</p>
          </li>
        </ul>
      </p>
    </div>
</div>

<%- include("../_base-footer", {
    "path": path
}); %>