<% const title = "Next2D | NoCode Tool How to use | Tabs"; %>
<% const description = "You can add or delete a new project, or specify the project you are currently working on."; %>
<% const path = "../../"; %>

<%- include("../../_include/_header", {
    "title": title,
    "description": description,
    "path": path,
    "player": "off"
}); %>

<%- include("../_base-header", {
    "path": path
}); %>

<div class="col-md-12 col-lg-9">
    <div>
      <h3>Tabs</h3>
      <p><iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/pEGhV3x2USE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
      <p><%= description %></p>
    </div>
</div>

<%- include("../_base-footer", {
    "path": path
}); %>