<!-- ======= Contact Section ======= -->
<section id="contact" class="padd-section">

  <div class="container" data-aos="fade-up">

    <div class="section-title text-center">
      <h2>${{ main.contact-title }}$</h2>
      <p class="separator">${{ main.contact }}$</p>
    </div>

    <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="100">

      <div class="col-md-6 offset-md-3">

        <div class="info">
          <div class="email">
            <i class="bi bi-envelope"></i>
            <p>developer@next2d.app</p>
          </div>
        </div>

        <div class="social-links">
          <a href="https://twitter.com/Next2D" class="twitter"><i class="bi bi-twitter"></i></a>
          <a href="https://github.com/Next2D" class="github"><i class="bi bi-github"></i></a>
          <a href="https://discord.gg/6c9rv5Uns5" class="discord"><i class="bi bi-discord"></i></a>
        </div>

      </div>

    </div>
  </div>
</section><!-- End Contact Section -->