<!-- ======= Framework Section ======= -->
<section id="framework" class="padd-section text-center">

<div class="container" data-aos="fade-up">
  <div class="section-title text-center">
    <h2>Framework Features.</h2>
    <p class="separator">Support systematic team development.</p>
  </div>

  <div class="row" data-aos="fade-up" data-aos-delay="100">

    <div class="col-md-6 col-lg-3">
      <div class="feature-block">
        <img src="assets/img/framework/7985345.png" alt="Open Source">
        <h4>Open Source</h4>
        <p>Next2D Framework is available free of charge as open source software for personal and commercial use.</p>
      </div>
    </div>

    <div class="col-md-6 col-lg-3">
      <div class="feature-block">
        <img src="assets/img/framework/4576957.png" alt="Quick Start">
        <h4>Quick Start</h4>
        <p>Create Next2D apps with no build configuration.<br>[Command]<br>npx create-next2d-app app-test</p>
      </div>
    </div>

    <div class="col-md-6 col-lg-3">
      <div class="feature-block">
        <img src="assets/img/framework/3260901.png" alt="MVVM pattern.">
        <h4>MVVM pattern.</h4>
        <p>Model-View-ViewModel (MVVM) pattern, looking toward a future where UI designers and programmers collaborate to create applications.</p>
      </div>
    </div>

    <div class="col-md-6 col-lg-3">
      <div class="feature-block">
        <img src="assets/img/framework/logo.png" alt="team development">
        <h4>team development</h4>
        <p>Fixed development pattern (MVVM) for readability and simplified sharing.</p>
      </div>
    </div>

    <div class="col-md-6 col-lg-3">
      <div class="feature-block">
        <img src="assets/img/framework/6154761.png" alt="Work with NoCode Tool">
        <h4>Work with NoCode Tool</h4>
        <p>As in the Flash era, symbol management is possible, allowing animators and programmers to create applications without conflicts.</p>
      </div>
    </div>

    <div class="col-md-6 col-lg-3">
      <div class="feature-block">
        <img src="assets/img/framework/4623263.png" alt="Single Page Application">
        <h4>Single Page Application</h4>
        <p>It is now possible to manage scenes by URL, which has been difficult with previous Canvas/WebGL applications.</p>
      </div>
    </div>

    <div class="col-md-6 col-lg-3">
      <div class="feature-block">
        <img src="assets/img/framework/5528843.png" alt="OUTPUT">
        <h4>OUTPUT</h4>
        <p>Easy to export for each environment, Consolidate files into one file.</p>
      </div>
    </div>

    <div class="col-md-6 col-lg-3">
      <div class="feature-block">
        <img src="assets/img/framework/3442194.png" alt="in preparation">
        <h4>Documentation/Tutorials</h4>
        <p>Extensive documentation and tutorials to support you from initial learning to practical use.</p>
      </div>
    </div>

  </div>
  

  <nav class="feature-nav">
    <ul class="list-unstyled">
      <li><a href="https://github.com/Next2D/Framework" class="btn"><i class="bi bi-github"></i> Download</a></li>
<!--       <li><a href="<%= path %>docs/framework" class="btn"><i class="bi bi-book"></i> API Docs</a></li> -->
<!--       <li><a href="<%= path %>examples/framework" class="btn"><i class="bi bi-code-slash"></i> Example</a></li> -->
<!--       <li><a href="<%= path %>tutorials/framework" class="btn"><i class="bi bi-book-half"></i> Tutorial</a></li> -->
    </ul>
  </nav>

</div>
</section><!-- End Framework Section -->