<!-- ======= Player Section ======= -->
<section id="player" class="padd-section text-center">

<div class="container" data-aos="fade-up">
  <div class="section-title text-center">
    <h2>Player Features.</h2>
    <p class="separator">Aims to provide a fast 2D player.</p>
  </div>

  <div class="row" data-aos="fade-up" data-aos-delay="100">

    <div class="col-md-6 col-lg-3">
      <div class="feature-block">
        <img src="assets/img/player/7985345.png" alt="Open Source">
        <h4>Open Source</h4>
        <p>Next2D Player is available free of charge as open source software for personal and commercial use.</p>
      </div>
    </div>

    <div class="col-md-6 col-lg-3">
      <div class="feature-block">
        <img src="assets/img/player/7504267.png" alt="Fast">
        <h4>Fast</h4>
        <p>Experience lightweight, fast, and beautiful anti-aliased rendering.</p>
      </div>
    </div>

    <div class="col-md-6 col-lg-3">
      <div class="feature-block">
        <img src="assets/img/player/6323764.png" alt="Full WebGL support">
        <h4>Full WebGL support</h4>
        <p>emulation technology of "swf2js" is ported to realize Flash-like rendering of Filter, Shape, etc. in WebGL.</p>
      </div>
    </div>

    <div class="col-md-6 col-lg-3">
      <div class="feature-block">
        <img src="assets/img/player/3666006.png" alt="Various Text Functions">
        <h4>Various Text Functions</h4>
        <p>Various text features such as fixed text, dynamic text input, and HTML text are included.</p>
      </div>
    </div>

    <div class="col-md-6 col-lg-3">
      <div class="feature-block">
        <img src="assets/img/player/8267133.png" alt="Multi-Platform Support">
        <h4>Multi-Platform Support</h4>
        <p>Deliver interactive and visually appealing content from desktop to mobile with a single code base.</p>
      </div>
    </div>

    <div class="col-md-6 col-lg-3">
      <div class="feature-block">
        <img src="assets/img/player/chrome.svg" alt="chrome">
        <img src="assets/img/player/firefox.svg" alt="firefox">
        <img src="assets/img/player/safari.svg" alt="safari">
        <img src="assets/img/player/edge.svg" alt="edge">
        <h4>Browser Support</h4>
        <p>It is interoperable with the latest desktop and mobile browsers and has been thoroughly tested to deliver performance and reliability across the widest possible range of browsers.</p>
      </div>
    </div>

    <div class="col-md-6 col-lg-3">
      <div class="feature-block">
        <img src="assets/img/player/1554390.png" alt="API">
        <h4>API</h4>
        <p>Extensive documentation, sample code, and tutorials for initial introduction make it easy for new and old developers to get up to speed quickly.</p>
      </div>
    </div>

    <div class="col-md-6 col-lg-3">
      <div class="feature-block">
        <img src="assets/img/player/5023026.png" alt="MP3">
        <img src="assets/img/player/6478235.png" alt="MP4">
        <h4>MP3/MP4</h4>
        <p>Supports reading audio and video, including MP3 and MP4.</p>
      </div>
    </div>

  </div>

  <nav class="feature-nav">
    <ul class="list-unstyled">
      <li><a href="https://github.com/Next2D/Player/releases" class="btn"><i class="bi bi-github"></i> Download</a></li>
      <li><a href="<%= path %>docs/player" class="btn"><i class="bi bi-book"></i> API Docs</a></li>
      <li><a href="<%= path %>tutorials" class="btn"><i class="bi bi-lightbulb"></i> Tutorials</a></li>
    </ul>
  </nav>

</div>
</section><!-- End Player Section -->