<!-- ======= Get Started Section ======= -->
<section id="roadmap" class="padd-section text-center">

<div class="container" data-aos="fade-up">
  <div class="section-title text-center">
    <h2>Roadmap</h2>
  </div>
</div>

<div class="container">

  <div class="row">

    <div class="col-md-12 col-lg-12" data-aos="zoom-in" data-aos-delay="100">
      <div class="feature-block">
        <img loading="lazy" class="img-fluid" src="<%= path %>assets/img/roadmap.svg" alt="Develop Roadmap" width="70vw">
      </div>
    </div>

  </div>
</div>
</section><!-- End Get Started Section -->