<!-- ======= NoCode Tool Section ======= -->
<section id="tool" class="padd-section text-center">

<div class="container" data-aos="fade-up">
  <div class="section-title text-center">
    <h2>NoCode Tool Features.</h2>
    <img src="assets/img/tool/logo.svg" width="100px" height="100px" alt="Next2D NoCode Tool">
    <p class="separator">2D entertainment development made easy! Fast! Comfortable.</p>
  </div>

  <div class="row" data-aos="fade-up" data-aos-delay="100">

    <div class="col-md-6 col-lg-3">
      <div class="feature-block">
        <img src="assets/img/tool/feature-01.svg" width="60px" height="60px" alt="No Code">
        <h4>No Code</h4>
        <p>You can intuitively create the animations you envision without writing code.</p>
      </div>
    </div>

    <div class="col-md-6 col-lg-3">
      <div class="feature-block">
        <img src="assets/img/tool/feature-02.svg" width="60px" height="60px" alt="No installation required">
        <h4>No installation required</h4>
        <p>It is a web service that can be used immediately by anyone who accesses it.</p>
      </div>
    </div>

    <div class="col-md-6 col-lg-3">
      <div class="feature-block">
        <img src="assets/img/tool/feature-03.svg" width="60px" height="60px" alt="Transform">
        <h4>Transform</h4>
        <p>Using the mouse, you can easily move the content up, down, left, right, transform, zoom in and out, rotate, etc., and add and subtract colors.</p>
      </div>
    </div>

    <div class="col-md-6 col-lg-3">
      <div class="feature-block">
        <img src="assets/img/tool/feature-04.svg" width="60px" height="60px" alt="Blend Mode">
        <h4>Blend Mode</h4>
        <p>Visual effects such as addition, subtraction, multiplication, and inversion can be easily manipulated with the mouse.</p>
      </div>
    </div>

    <div class="col-md-6 col-lg-3">
      <div class="feature-block">
        <img src="assets/img/tool/feature-05.svg" width="60px" height="60px" alt="Filter">
        <h4>Filter</h4>
        <p>Filters such as blur, glow, drop shadow, and gradient can be easily added with the mouse, and layers are supported.</p>
      </div>
    </div>

    <div class="col-md-6 col-lg-3">
      <div class="feature-block">
        <img src="assets/img/tool/feature-06.svg" width="60px" height="60px" alt="Easing">
        <h4>Easing</h4>
        <p>The easing function allows you to make your animations more realistic and dynamic.</p>
      </div>
    </div>

    <div class="col-md-6 col-lg-3">
      <div class="feature-block">
        <img src="assets/img/tool/feature-07.svg" width="60px" height="60px" alt="JSON">
        <img src="assets/img/tool/feature-08.svg" width="60px" height="60px" alt="WEBM">
        <h4>Output</h4>
        <p>Can be exported to JSON, WEBM and Animation GIF.</p>
      </div>
    </div>

    <div class="col-md-6 col-lg-3">
      <div class="feature-block">
        <img src="assets/img/tool/feature-09.svg" width="60px" height="60px" alt="SWF">
        <h4>SWF</h4>
        <p>Although it is simple, it is also possible to read SWF files.</p>
      </div>
    </div>

  </div>

  <nav class="feature-nav">
    <ul class="list-unstyled">
      <li><a href="https://tool.next2d.app" class="btn"><i class="bi bi-cloud"></i> Web Site(α)</a></li>
      <li><a href="<%= path %>usage" class="btn"><i class="bi bi-lightbulb"></i> Usage</a></li>
    </ul>
  </nav>

</div>
</section><!-- End NoCode Tool -->