<% const path = "../../../"; %>
<%- include("../../_include/_header", {
    "title": "tool-usage.tool.shape-transform.title",
    "description": "tool-usage.tool.shape-transform.description",
    "path": path,
}); %>

<%- include("../_base-header", {
    "subTitle": "tool-menu.tool.shape-transform",
    "path": path
}); %>

<div class="col-md-12 col-lg-9">
    <div>
      <h3>${{ tool-menu.tool.shape-transform }}$</h3>
      <p><iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/PWYSPAr1LN0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
      <h4>${{ tool-usage.tool.shape-transform.description }}$</h4>
      <p>${{ tool-usage.tool.shape-transform.text1 }}$</p>
      <p>${{ tool-usage.tool.shape-transform.text2 }}$</p>
      <p>${{ tool-usage.tool.shape-transform.text3 }}$</p>
      <p>${{ tool-usage.tool.shape-transform.text4 }}$</p>
    </div>
</div>

<%- include("../_base-footer", {
    "path": path
}); %>