<% const title = "Next2D | NoCode Tool How to use | WorkSpace"; %>
<% const description = "The square pointer controls straight lines, while the circle pointer controls curves."; %>
<% const path = "../../"; %>

<%- include("../../_include/_header", {
    "title": title,
    "description": description,
    "path": path
}); %>

<%- include("../_base-header", {
    "path": path
}); %>

<div class="col-md-12 col-lg-9">
    <div>
      <h3>Shape Transform Tool</h3>
      <p><iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/PWYSPAr1LN0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
      <h4><%= description %></h4>
      <p>Double-click to add a new square pointer. Double-clicking on a square pointer will add a circle pointer to control the curve.</p>
      <p>Select either the square pointer or the circle pointer, and press the Delete button to delete the selected pointer.</p>
      <p>If you want to cut out or merge paths, select the base shape, and then select the shape you want to merge while holding down Shift on your keyboard.</p>
      <p>Finally, by clicking "Integrating paths" on the right-click menu, the path information will be integrated into the shape you selected as the base.</p>
    </div>
</div>

<%- include("../_base-footer", {
    "path": path
}); %>