<% const title = "Next2D | NoCode Tool How to use | WorkSpace"; %>
<% const description = "Insert a text field element."; %>
<% const path = "../../"; %>

<%- include("../../_include/_header", {
    "title": title,
    "description": description,
    "path": path,
    "player": "off"
}); %>

<%- include("../_base-header", {
    "path": path
}); %>

<div class="col-md-12 col-lg-9">
    <div>
      <h3>Text Tool</h3>
      <p><iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/aLqaDjXhJjw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
      <h4><%= description %></h4>
    </div>
</div>

<%- include("../_base-footer", {
    "path": path
}); %>