<% const title = "Next2D | NoCode Tool How to use | WorkSpace"; %>
<% const description = "Allows you to stretch, rotate, or tilt the selection."; %>
<% const path = "../../"; %>

<%- include("../../_include/_header", {
    "title": title,
    "description": description,
    "path": path
}); %>

<%- include("../_base-header", {
    "path": path
}); %>

<div class="col-md-12 col-lg-9">
    <div>
      <h3>Transform Tool</h3>
      <p><iframe loading="lazy" width="560px" height="350px" src="https://www.youtube.com/embed/j28BwvPO5gE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
      <p><%= description %></p>
    </div>
</div>

<%- include("../_base-footer", {
    "path": path
}); %>