<% const path = "../../../"; %>
<%- include("../../_include/_header", {
    "title": "tool-usage.tool.transform.title",
    "description": "tool-usage.tool.transform.description",
    "path": path,
}); %>

<%- include("../_base-header", {
    "path": path
}); %>

<div class="col-md-12 col-lg-9">
    <div>
      <h3>${{ tool-menu.tool.selection }}$</h3>
      <p><iframe loading="lazy" width="560px" height="350px" src="https://www.youtube.com/embed/j28BwvPO5gE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
      <h4>${{ tool-usage.tool.transform.description }}$</h4>
      <p>${{ tool-usage.tool.transform.text1 }}$</p>
      <p>${{ tool-usage.tool.transform.text2 }}$</p>
      <p>${{ tool-usage.tool.transform.text3 }}$</p>
      <p>${{ tool-usage.tool.transform.text4 }}$</p>
      <p>${{ tool-usage.tool.transform.text5 }}$</p>
    </div>
</div>

<%- include("../_base-footer", {
    "path": path
}); %>