<% const title = "Next2D | Company"; %>
<% const description = "Next2D Company"; %>
<% const path = "../"; %>

<%- include("../_include/_header", {
    "title": title,
    "description": description,
    "path": path
}); %>

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <h2>Company</h2>
                <ol>
                    <li><a href="<%= path %>">Home</a></li>
                    <li>Company</li>
                </ol>
            </div>
        </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="padd-section">

      <div class="container" data-aos="fade-up">

        <div class="section-title text-center">
          <h2>Next2D LCC.</h2>
          <p class="separator">Make Convenience Easy.</p>
        </div>

        <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="100">

          <div class="col-md-6 offset-md-3">

            <div class="info">
              <div>
                <i class="bi bi-geo-alt"></i>
                <p>Yamato City, Kanagawa Prefecture, Japan</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <p>developer@next2d.app</p>
              </div>
            </div>

            <div class="social-links">
              <a href="https://twitter.com/Next2D" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="https://github.com/Next2D" class="github"><i class="bi bi-github"></i></a>
            </div>

          </div>

        </div>
      </div>
    </section><!-- End Contact Section -->

</main><!-- End #main -->

<%- include("../_include/_footer", { "path": path }); %>