<% const title = "Next2D Player | Pocket Reference Chapter 14"; %>
<% const path = "../../../"; %>
<%- include("../../_include/_header", {
    "title": title,
    "path": path
}); %>

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <h2>Reference and change DisplayObject properties "blendMode".</h2>
                <ol>
                    <li><a href="<%= path %>${{ main.lang }}$">Home</a></li>
                    <li><a href="<%= path %>${{ main.lang }}$/reference/player">Reference</a></li>
                    <li>Chapter 14</li>
                </ol>
            </div>
        </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Tutorial List Section ======= -->
    <section id="references" class="padd-section">

      <div class="container" data-aos="fade-up">

        <div class="row" data-aos="fade-up" data-aos-delay="100">

          <div class="col-md-6 offset-md-3">

            <h3>blendMode</h3>
            <p>Sets the DisplayObject's BlendMode. According to the set BlendMode, the DisplayObject and background colors (RGB) are compared, added and subtracted for each corresponding pixel, and drawn based on the result.
              <ul>
                <li>BlendMode.NORMAL(default)</li>
                <li>BlendMode.ADD</li>
                <li>BlendMode.ALPHA</li>
                <li>BlendMode.DARKEN</li>
                <li>BlendMode.DIFFERENCE</li>
                <li>BlendMode.ERASE</li>
                <li>BlendMode.HARDLIGHT</li>
                <li>BlendMode.INVERT</li>
                <li>BlendMode.LAYER</li>
                <li>BlendMode.LIGHTEN</li>
                <li>BlendMode.MULTIPLY</li>
                <li>BlendMode.OVERLAY</li>
                <li>BlendMode.SCREEN</li>
                <li>BlendMode.SUBTRACT</li>
              </ul>
            </p>

            <h5>Example</h5>
            <p><pre>const {Shape, BitmapData, Sprite, BlendMode} = next2d.display;
const image = new Image();
image.src = "[[image path]]";

const bitmapData = new BitmapData();
bitmapData.image = image;

const shape = new Shape();
shape
    .graphics
    .beginBitmapFill(bitmapData)
    .drawRect(0, 0, bitmapData.width, bitmapData.height);

const sprite = new Sprite();
sprite.addChild(shape);
sprite.blendMode = BlendMode.SCREEN;</pre></p>

            <p><a class="float-end read-more" href="15.html">${{ main.next-chapter }}$</a></p>
          </div>
        </div>
      </div>
    </section><!-- End List Section -->

</main><!-- End #main -->

<%- include("../../_include/_footer", { "path": path }); %>