<% const title = "Next2D Player | Pocket Reference Chapter 03"; %>
<% const path = "../../../"; %>
<%- include("../../_include/_header", {
    "title": title,
    "path": path
}); %>

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <ol>
                    <li><a href="<%= path %>${{ main.lang }}$">Home</a></li>
                    <li><a href="<%= path %>${{ main.lang }}$/reference/player">Reference</a></li>
                    <li>Chapter 03</li>
                </ol>
            </div>
        </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Tutorial List Section ======= -->
    <section id="references" class="reference-section">

      <div class="container" data-aos="fade-up">

        <div class="row" data-aos="fade-up" data-aos-delay="100">

          <div class="col-md-8 offset-md-2">
            <h2>${{ player-reference.chapter3.title }}$</h2>

            <h3>Event.ADDED</h3>
            <p>${{ player-reference.chapter3.text1 }}$</p>

            <h5>Example</h5>
            <p class="example">
                <iframe height="400" style="width: 100%;" scrolling="no" title="[Next2D Reference] Chapter 03-1" src="https://codepen.io/next2d/embed/mdBxxdq?default-tab=js%2Cresult&editable=true&theme-id=dark" frameborder="no" loading="lazy" allowtransparency="true" allowfullscreen="true">
                  See the Pen <a href="https://codepen.io/next2d/pen/mdBxxdq">
                  [Next2D Reference] Chapter 03-1</a> by Next2D (<a href="https://codepen.io/next2d">@next2d</a>)
                  on <a href="https://codepen.io">CodePen</a>.
                </iframe>
            </p>

            <h3>Event.ADDED_TO_STAGE</h3>
            <p>${{ player-reference.chapter3.text2 }}$</p>

            <h5>Example</h5>
            <p class="example">
                <iframe height="400" style="width: 100%;" scrolling="no" title="[Next2D Reference] Chapter 03-2" src="https://codepen.io/next2d/embed/WNZzzvL?default-tab=js%2Cresult&editable=true&theme-id=dark" frameborder="no" loading="lazy" allowtransparency="true" allowfullscreen="true">
                  See the Pen <a href="https://codepen.io/next2d/pen/WNZzzvL">
                  [Next2D Reference] Chapter 03-2</a> by Next2D (<a href="https://codepen.io/next2d">@next2d</a>)
                  on <a href="https://codepen.io">CodePen</a>.
                </iframe>
            </p>

            <h3>Event.REMOVED</h3>
            <p>${{ player-reference.chapter3.text3 }}$</p>

            <h5>Example</h5>
            <p class="example">
                <iframe height="400" style="width: 100%;" scrolling="no" title="[Next2D Reference] Chapter 03-3" src="https://codepen.io/next2d/embed/poWLLgm?default-tab=js%2Cresult&editable=true&theme-id=dark" frameborder="no" loading="lazy" allowtransparency="true" allowfullscreen="true">
                  See the Pen <a href="https://codepen.io/next2d/pen/poWLLgm">
                  [Next2D Reference] Chapter 03-3</a> by Next2D (<a href="https://codepen.io/next2d">@next2d</a>)
                  on <a href="https://codepen.io">CodePen</a>.
                </iframe>
            </p>

            <h3>Event.REMOVED_FROM_STAGE</h3>
            <p>${{ player-reference.chapter3.text4 }}$</p>

            <h5>Example</h5>
            <p class="example">
                <iframe height="400" style="width: 100%;" scrolling="no" title="[Next2D Reference] Chapter 03-4" src="https://codepen.io/next2d/embed/ExwEEyK?default-tab=js%2Cresult&editable=true&theme-id=dark" frameborder="no" loading="lazy" allowtransparency="true" allowfullscreen="true">
                  See the Pen <a href="https://codepen.io/next2d/pen/ExwEEyK">
                  [Next2D Reference] Chapter 03-4</a> by Next2D (<a href="https://codepen.io/next2d">@next2d</a>)
                  on <a href="https://codepen.io">CodePen</a>.
                </iframe>
            </p>

            <p class="next-chapter"><a class="float-end read-more" href="4.html">${{ main.next-chapter }}$</a></p>
          </div>
        </div>
      </div>
    </section><!-- End List Section -->

</main><!-- End #main -->

<%- include("../../_include/_footer", { "path": path }); %>