<% const path = "../../../"; %>
<%- include("../../_include/_header", {
    "title": "player-reference.title",
    "description": "player-reference.description",
    "path": path
}); %>

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <h2>Next2D Player Pocket Reference</h2>
                <ol>
                    <li><a href="<%= path %>${{ main.lang }}$">Home</a></li>
                    <li>${{ main.reference-title }}$</li>
                </ol>
            </div>
        </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Tutorial List Section ======= -->
    <section id="references" class="padd-section">

      <div class="container" data-aos="fade-up">
        <div class="row" data-aos="fade-up" data-aos-delay="100">

          <div class="col-md-4 col-lg-4">
            <div class="block-list text-left">
              <div class="content-list">
                <h4><a href="1.html">${{ player-reference.chapter1.title }}$</a></h4>
                <span>Chapter, 01</span>
                <a class="float-end read-more" href="1.html">${{ main.read-more }}$</a>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-lg-4">
            <div class="block-list text-left">
              <div class="content-list">
                <h4><a href="2.html">${{ player-reference.chapter2.title }}$</a></h4>
                <span>Chapter, 02</span>
                <a class="float-end read-more" href="2.html">${{ main.read-more }}$</a>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-lg-4">
            <div class="block-list text-left">
              <div class="content-list">
                <h4><a href="3.html">${{ player-reference.chapter3.title }}$</a></h4>
                <span>Chapter, 03</span>
                <a class="float-end read-more" href="3.html">${{ main.read-more }}$</a>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-lg-4">
            <div class="block-list text-left">
              <div class="content-list">
                <h4><a href="4.html">${{ player-reference.chapter4.title }}$</a></h4>
                <span>Chapter, 04</span>
                <a class="float-end read-more" href="4.html">${{ main.read-more }}$</a>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-lg-4">
            <div class="block-list text-left">
              <div class="content-list">
                <h4><a href="5.html">${{ player-reference.chapter5.title }}$</a></h4>
                <span>Chapter, 05</span>
                <a class="float-end read-more" href="5.html">${{ main.read-more }}$</a>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-lg-4">
            <div class="block-list text-left">
              <div class="content-list">
                <h4><a href="6.html">${{ player-reference.chapter6.title }}$</a></h4>
                <span>Chapter, 06</span>
                <a class="float-end read-more" href="6.html">${{ main.read-more }}$</a>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-lg-4">
            <div class="block-list text-left">
              <div class="content-list">
                <h4><a href="7.html">${{ player-reference.chapter7.title }}$</a></h4>
                <span>Chapter, 07</span>
                <a class="float-end read-more" href="7.html">${{ main.read-more }}$</a>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-lg-4">
            <div class="block-list text-left">
              <div class="content-list">
                <h4><a href="8.html">${{ player-reference.chapter8.title }}$</a></h4>
                <span>Chapter, 08</span>
                <a class="float-end read-more" href="8.html">${{ main.read-more }}$</a>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-lg-4">
            <div class="block-list text-left">
              <div class="content-list">
                <h4><a href="9.html">${{ player-reference.chapter9.title }}$</a></h4>
                <span>Chapter, 09</span>
                <a class="float-end read-more" href="9.html">${{ main.read-more }}$</a>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-lg-4">
            <div class="block-list text-left">
              <div class="content-list">
                <h4><a href="10.html">${{ player-reference.chapter10.title }}$</a></h4>
                <span>Chapter, 10</span>
                <a class="float-end read-more" href="10.html">${{ main.read-more }}$</a>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-lg-4">
            <div class="block-list text-left">
              <div class="content-list">
                <h4><a href="11.html">${{ player-reference.chapter11.title }}$</a></h4>
                <span>Chapter, 11</span>
                <a class="float-end read-more" href="11.html">${{ main.read-more }}$</a>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-lg-4">
            <div class="block-list text-left">
              <div class="content-list">
                <h4><a href="12.html">${{ player-reference.chapter12.title }}$</a></h4>
                <span>Chapter, 12</span>
                <a class="float-end read-more" href="12.html">${{ main.read-more }}$</a>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-lg-4">
            <div class="block-list text-left">
              <div class="content-list">
                <h4><a href="13.html">${{ player-reference.chapter13.title }}$</a></h4>
                <span>Chapter, 13</span>
                <a class="float-end read-more" href="13.html">${{ main.read-more }}$</a>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-lg-4">
            <div class="block-list text-left">
              <div class="content-list">
                <h4><a href="14.html">${{ player-reference.chapter14.title }}$</a></h4>
                <span>Chapter, 14</span>
                <a class="float-end read-more" href="14.html">${{ main.read-more }}$</a>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-lg-4">
            <div class="block-list text-left">
              <div class="content-list">
                <h4><a href="15.html">${{ player-reference.chapter15.title }}$</a></h4>
                <span>Chapter, 15</span>
                <a class="float-end read-more" href="15.html">${{ main.read-more }}$</a>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-lg-4">
            <div class="block-list text-left">
              <div class="content-list">
                <h4><a href="16.html">${{ player-reference.chapter16.title }}$</a></h4>
                <span>Chapter, 16</span>
                <a class="float-end read-more" href="16.html">${{ main.read-more }}$</a>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-lg-4">
            <div class="block-list text-left">
              <div class="content-list">
                <h4><a href="17.html">${{ player-reference.chapter17.title }}$</a></h4>
                <span>Chapter, 17</span>
                <a class="float-end read-more" href="17.html">${{ main.read-more }}$</a>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-lg-4">
            <div class="block-list text-left">
              <div class="content-list">
                <h4><a href="18.html">${{ player-reference.chapter18.title }}$</a></h4>
                <span>Chapter, 18</span>
                <a class="float-end read-more" href="18.html">${{ main.read-more }}$</a>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-lg-4">
            <div class="block-list text-left">
              <div class="content-list">
                <h4><a href="19.html">${{ player-reference.chapter19.title }}$</a></h4>
                <span>Chapter, 19</span>
                <a class="float-end read-more" href="19.html">${{ main.read-more }}$</a>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-lg-4">
            <div class="block-list text-left">
              <div class="content-list">
                <h4><a href="20.html">${{ player-reference.chapter20.title }}$</a></h4>
                <span>Chapter, 20</span>
                <a class="float-end read-more" href="20.html">${{ main.read-more }}$</a>
              </div>
            </div>
          </div>

          <div class="col-md-12 col-lg-12">
            <h3>MovieClip</h3>
          </div>

          <div class="col-md-4 col-lg-4">
            <div class="block-list text-left">
              <div class="content-list">
                <h4><a href="play-stop.html">${{ player-reference.play-stop.title }}$</a></h4>
                <a class="float-end read-more" href="play-stop.html">${{ main.read-more }}$</a>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-lg-4">
            <div class="block-list text-left">
              <div class="content-list">
                <h4><a href="mc-properties.html">${{ player-reference.mc-properties.title }}$</a></h4>
                <a class="float-end read-more" href="mc-properties.html">${{ main.read-more }}$</a>
              </div>
            </div>
          </div>

          <div class="col-md-12 col-lg-12">
            <h3>Filter</h3>
          </div>

          <div class="col-md-4 col-lg-4">
            <div class="block-list text-left">
              <div class="content-list">
                <h4><a href="drop-shadow.html">${{ player-reference.drop-shadow.title }}$</a></h4>
                <span>DropShadowFilter</span>
                <a class="float-end read-more" href="drop-shadow.html">${{ main.read-more }}$</a>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-lg-4">
            <div class="block-list text-left">
              <div class="content-list">
                <h4><a href="blur.html">${{ player-reference.blur.title }}$</a></h4>
                <span>BlurFilter</span>
                <a class="float-end read-more" href="blur.html">${{ main.read-more }}$</a>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-lg-4">
            <div class="block-list text-left">
              <div class="content-list">
                <h4><a href="glow.html">${{ player-reference.glow.title }}$</a></h4>
                <span>GlowFilter</span>
                <a class="float-end read-more" href="glow.html">${{ main.read-more }}$</a>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-lg-4">
            <div class="block-list text-left">
              <div class="content-list">
                <h4><a href="bevel.html">${{ player-reference.bevel.title }}$</a></h4>
                <span>BevelFilter</span>
                <a class="float-end read-more" href="bevel.html">${{ main.read-more }}$</a>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-lg-4">
            <div class="block-list text-left">
              <div class="content-list">
                <h4><a href="color-matrix.html">${{ player-reference.color-matrix.title }}$</a></h4>
                <span>ColorMatrixFilter</span>
                <a class="float-end read-more" href="color-matrix.html">${{ main.read-more }}$</a>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-lg-4">
            <div class="block-list text-left">
              <div class="content-list">
                <h4><a href="convolution.html">${{ player-reference.convolution.title }}$</a></h4>
                <span>ConvolutionFilter</span>
                <a class="float-end read-more" href="convolution.html">${{ main.read-more }}$</a>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-lg-4">
            <div class="block-list text-left">
              <div class="content-list">
                <h4><a href="displacement-map.html">${{ player-reference.displacement-map.title }}$</a></h4>
                <span>DisplacementMapFilter</span>
                <a class="float-end read-more" href="displacement-map.html">${{ main.read-more }}$</a>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-lg-4">
            <div class="block-list text-left">
              <div class="content-list">
                <h4><a href="gradient-bevel.html">${{ player-reference.gradient-bevel.title }}$</a></h4>
                <span>GradientBevelFilter</span>
                <a class="float-end read-more" href="gradient-bevel.html">${{ main.read-more }}$</a>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-lg-4">
            <div class="block-list text-left">
              <div class="content-list">
                <h4><a href="gradient-glow.html">${{ player-reference.gradient-glow.title }}$</a></h4>
                <span>GradientGlowFilter</span>
                <a class="float-end read-more" href="gradient-glow.html">${{ main.read-more }}$</a>
              </div>
            </div>
          </div>

          <div class="col-md-12 col-lg-12">
            <h3>Text</h3>
          </div>
          <div class="col-md-12 col-lg-12">
            <h3>Geom</h3>
          </div>
          <div class="col-md-12 col-lg-12">
            <h3>Event</h3>
          </div>
        </div>
      </div>
    </section><!-- End List Section -->

</main><!-- End #main -->

<%- include("../../_include/_footer", { "path": path }); %>