<% const title = "Next2D | Tutorial & Pocket Reference | Play/Stop a MovieClip, Move to the specified frame and play/stop"; %>
<% const description = "play and stop methods play/stop the timeline of MovieClip, and since the timeline of MovieClip is independent, they play/stop only one timeline and do not affect the parent, child, etc. timelines."; %>
<% const path = "../"; %>

<%- include("../_include/_header", {
    "title": title,
    "description": description,
    "path": path
}); %>

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <h2>Play/Stop a MovieClip</h2>
                <ol>
                    <li><a href="<%= path %>">Home</a></li>
                    <li><a href="<%= path %>tutorials">Tutorials</a></li>
                    <li>Day 22</li>
                </ol>
            </div>
        </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Tutorial List Section ======= -->
    <section id="tutorials" class="padd-section">

      <div class="container" data-aos="fade-up">

        <div class="row" data-aos="fade-up" data-aos-delay="100">

          <div class="col-md-6 offset-md-3">

            <h3>play/stop</h3>
            <p>play and stop methods play/stop the timeline of MovieClip, and since the timeline of MovieClip is independent, they play/stop only one timeline and do not affect the parent, child, etc. timelines.</p>

            <h5>Example</h5>
            <p><pre>const {MovieClip} = next2d.display;
const movieClip = new MovieClip();
this.addChild(movieClip);

this.play(); // current MovieClip play
movieClip.play(); // movieClip play</pre></p>

            <p><pre>const {MovieClip} = next2d.display;
const movieClip = new MovieClip();
this.addChild(movieClip);

this.stop(); // current MovieClip stop
movieClip.stop(); // movieClip stop</pre></p>

            <h3>gotoAndPlay/gotoAndStop</h3>
            <p>gotoAndPlay and gotoAndStop methods move the MovieClip's playhead to the specified frame and play/stop it.</p>

            <h5>Example</h5>
            <p><pre>this.gotoAndPlay(10);
this.gotoAndPlay("start_label");</pre></p>

            <p><pre>this.gotoAndStop(10);
this.gotoAndStop("stop_label");</pre></p>

            <h3>nextFrame/prevFrame</h3>
            <p>nextFrame method moves from the current frame to the next frame, and the prevFrame method moves from the current frame to the previous frame and stops.</p>

            <h5>Example</h5>
            <p><pre>this.nextFrame();
this.prevFrame();</pre></p>

            <p><a class="float-end read-more" href="23.html">next day</a></p>
          </div>
        </div>
      </div>
    </section><!-- End List Section -->

</main><!-- End #main -->

<%- include("../_include/_footer", { "path": path }); %>