<% const title = "Next2D | Tutorial & Pocket Reference | Change the playback speed"; %>
<% const description = "Indicates the frame rate. The unit is frames per second (fps). The frame rate you set will be applied to all timelines."; %>
<% const path = "../"; %>

<%- include("../_include/_header", {
    "title": title,
    "description": description,
    "path": path
}); %>

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <h2>Change the playback speed.</h2>
                <ol>
                    <li><a href="<%= path %>">Home</a></li>
                    <li><a href="<%= path %>tutorials">Tutorials</a></li>
                    <li>Day 24</li>
                </ol>
            </div>
        </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Tutorial List Section ======= -->
    <section id="tutorials" class="padd-section">

      <div class="container" data-aos="fade-up">

        <div class="row" data-aos="fade-up" data-aos-delay="100">

          <div class="col-md-6 offset-md-3">

            <h3>frameRate</h3>
            <p>Indicates the frame rate. The unit is frames per second (fps). The frame rate you set will be applied to all timelines.</p>

            <h5>Example</h5>
            <p><pre>this.stage.frameRate = 60;</pre></p>

            <p><a class="float-end read-more" href="25.html">next day</a></p>
          </div>
        </div>
      </div>
    </section><!-- End List Section -->

</main><!-- End #main -->

<%- include("../_include/_footer", { "path": path }); %>