<% const title = "Next2D | Tutorial & Pocket Reference | Determine the number of DisplayObjects and child elements"; %>
<% const description = "numChildren property represents the number of objects in the child element. It does not include the grandchild elements."; %>
<% const path = "../"; %>

<%- include("../_include/_header", {
    "title": title,
    "description": description,
    "path": path
}); %>

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <h2>Determine the number of DisplayObjects and child elements.</h2>
                <ol>
                    <li><a href="<%= path %>">Home</a></li>
                    <li><a href="<%= path %>tutorials">Tutorials</a></li>
                    <li>Day 05</li>
                </ol>
            </div>
        </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Tutorial List Section ======= -->
    <section id="tutorials" class="padd-section">

      <div class="container" data-aos="fade-up">

        <div class="row" data-aos="fade-up" data-aos-delay="100">

          <div class="col-md-6 offset-md-3">
            <h3>numChildren</h3>
            <p>numChildren property represents the number of objects in the child element. It does not include the grandchild elements.</p>

            <h5>Example</h5>
            <p><pre>const {Shape} = next2d.display;
const shape = new Shape();
console.log(this.numChildren); // 1</pre></p>

            <h3>contains</h3>
            <p>contains is a method to check whether the DisplayObject specified in the argument is a child element of DisplayObjectContainer. The return value is a boolean value, true if the DisplayObject is a child object or DisplayObjectContainer itself, false otherwise.</p>

            <p><pre>const {Sprite} = next2d.display;
const sprite1 = new Sprite();
const sprite2 = new Sprite();
const sprite3 = new Sprite();
const sprite4 = new Sprite();

sprite1.addChild(sprite2);
sprite3.addChild(sprite3);

console.log(this.contains(sprite1)); // true
console.log(this.contains(sprite2)); // true
console.log(this.contains(sprite3)); // true
console.log(this.contains(sprite4)); // false</pre></p>

            <p><a class="float-end read-more" href="6.html">next day</a></p>
          </div>
        </div>
      </div>
    </section><!-- End List Section -->

</main><!-- End #main -->

<%- include("../_include/_footer", { "path": path }); %>