<% const title = "Next2D | Tutorial & Pocket Reference | Referencing a DisplayObject in a DisplayObjectContainer"; %>
<% const description = "getChildAt method gets the reference to the child element object from the index of the stacking order."; %>
<% const path = "../"; %>

<%- include("../_include/_header", {
    "title": title,
    "description": description,
    "path": path
}); %>

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <h2>Referencing a DisplayObject in a DisplayObjectContainer.</h2>
                <ol>
                    <li><a href="<%= path %>">Home</a></li>
                    <li><a href="<%= path %>tutorials">Tutorials</a></li>
                    <li>Day 06</li>
                </ol>
            </div>
        </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Tutorial List Section ======= -->
    <section id="tutorials" class="padd-section">

      <div class="container" data-aos="fade-up">

        <div class="row" data-aos="fade-up" data-aos-delay="100">

          <div class="col-md-6 offset-md-3">
            <h3>getChildAt</h3>
            <p>getChildAt method gets the reference to the child element object from the index of the stacking order.</p>

            <h5>Example</h5>
            <p><pre>const {Shape} = next2d.display;
const shape = new Shape();
this.addChild(shape);
console.log(this.getChildAt(0) === shape);</pre></p>

            <h3>getChildByName</h3>
            <p>getChildByName method gets the reference to the child element object from the instance name.</p>

            <p><pre>const {Sprite} = next2d.display;
const sprite = new Sprite();
sprite.name = "child_sprite";
this.addChild(sprite);
console.log(this.getChildByName("child_sprite") === sprite);</pre></p>

            <p><a class="float-end read-more" href="7.html">next day</a></p>
          </div>
        </div>
      </div>
    </section><!-- End List Section -->

</main><!-- End #main -->

<%- include("../_include/_footer", { "path": path }); %>